# 忽略一些非项目文件配置文件git上传显示
/target/
.idea
*.iml
.tags
.tags_sorted_by_file
.pyc
__pycache__
.cache
.settings
.classpath
.project
.DS_Store
*.pid
*Help
target
log.*
.DS_Store
log.home_IS_UNDEFINED
doc/api_doc
